.page-id-22 {
  .site-main {
    max-width: 800px;
  }
  .staff-container{
    margin: 0 auto;
  
   p{
    font-size: 1.3rem;
   }
   h2{
    text-decoration: underline;
    font-size: 2rem;
    margin: 0rem;
   }
   h3{
    font-size: 1.5rem;
   }
   a, a:visited{
    color: #003c71;
   }
  }
  
  @media screen and (min-width: 50em) {
    .staff-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
    }
  
    .staff-container h2 {
      font-size: 2rem;
      width: 100%;
    }
  
    .staff-container h3 {
      font-size: 1.5rem;
    }
  
    .staff-container p {
      font-size: 1.3rem;
    }
  
    .staff-container .staff-post {
      width: 45%; 
     
    }
  }
}