.site-header {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 12.5rem) minmax(auto, 50rem) 1fr;
	align-items: center;
	width: 100%;
    height: 55px;
    background-color: #000000;
    border-top: 3px solid #305c9f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
	grid-area: header;
}

.site-header .site-title {
	width: 200px;
    font-size: 1.3em;
    text-transform: uppercase;
    margin: .4rem 1rem 0;
}

.site-header .site-title a {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}

.main-navigation {
	display: block;
    width: 100%;
    position: absolute;
    top: 52px;
    right: 0;
    z-index: 1000;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a, a:visited {
				
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a, a:visited {
		display: block;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		font-weight: 700;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: #305c9f;

	}
}

.menu-toggle {
	display: block;
	width: 46px;
    height: 46px;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: #fff;
    position: absolute;
    right: 1rem;
    z-index: 1100;
    top: -3rem;
    border: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
    background: transparent;

	svg {
		fill: #fff;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	list-style: none;
    margin: 0;
    padding-left: 0;
    background-color: #000000;
	li {
		ul {
			background-color: #3d3d3d;
		}
		a, a:visited {
			padding: 1rem;
			display: block;
			font-size: 0.9em;
			text-decoration: none;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}


@media screen and (min-width: 50em) {

	.site-header {
		display: grid;
        grid-template-columns: 1fr minmax(auto, 12.5rem) minmax(auto, 50rem) 1fr;
        align-items: center;
	}

	.site-header.site-title {
		grid-column: 2 / 3;
        margin: 0 1rem 0;
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		display: flex;
		justify-content: flex-end;
        top: 0;
        line-height: 52px;
	}

	.main-navigation ul, .main-navigation.toggled ul {
		display: flex;
        justify-content: center;
		a {
			padding: 0 1rem;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
