body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

.site {
	max-width: 2200px;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
    grid-template-areas:
        "header header header"
        ". main ."
        ". sidebar ."
        "footer footer footer";
}

